.App {
  text-align: center;
}
body { 
  background-color: #333;
}

.id-lookup-container {
  display: grid;
    grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: auto;
  max-height: 350px;
  overflow: auto;
}
.id-lookup-container div {
  height: 40px;
  white-space: nowrap;
}
.id-lookup-container div .name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 50px);
}

.profile {
  margin: 20px auto;
}
.profile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 400px));
}
.image-container {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 100px 100px 100x;
}
.image-container *:nth-child(1),
.image-container *:nth-child(2) {
  height: 100%;
  object-fit: cover;
}
.image-container *:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.image-container *:nth-child(4) {
  grid-column: span 2;
}
.image-container img {
  width: 100%;
}

.attribution {
  color: white;
  position: absolute;
  left: 80px;
  top: 5px;
  font-variant: all-petite-caps;
}
.attribution a {
  color: white
}


.page-body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  padding: 20px;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 6px 6px burlywood;
  text-align: center;
}
.error {
  color: red;
  font-weight: 600;
}

ul {
  list-style: none;
  
}
input {
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
  border: 1px solid lime;
  margin-left: 6px;
}
input:focus {
  outline: none;
}
button {
  padding: 6px;
  margin: 6px;
  border-radius: 12px;
  color: lime;
  background: white;
  font-weight: 700;
  border: 2px solid lime;
  transition: color 200ms, background 300ms;
  cursor: pointer;
}
button:hover {
  background-color: lime;
  color: white;
  
}
button:focus {
  border: none;
  background-color: #9B9987;
  box-shadow: none;
  outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2F2F2F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}